.places {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}
.places h1 {
    font-size: 30px;
}

.places_title {
    padding-top: 30px;
    margin-bottom: -25px;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article {
    width: 390px;
    margin: 20px;
    padding: 20px;
    border: solid #FF5A5F 1px;
    border-radius: 4px;
    text-align: center;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 30px;
    position: relative;
}

article h2 {
    font-size: 30px;
    margin-top: -1px;
    padding-left: 0%;
}

.article_title {
    width: 100%;
}

.price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    position: absolute;
    top: 10px;
    right: 20px;
    margin-top: -5px;
}

.price {
    margin-top: -1px;
}

.price_title {
    display: flex;
}

.information {
    height: 80px;
    border-top: solid #DDDDDD 1px;
    border-bottom: solid #DDDDDD 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.max_guest {
    width: 100px;
    display: flex;
    height: inherit;
    flex-direction: column;
    justify-content: center;
}

.guest_icon {
    height: inherit;
    width: inherit;
    background: url("../images/icon_group.png");
    background-repeat: no-repeat;
    margin-left: 35px;
}

.guest_number h2 {
    font-size: 14px;
    color: #484848;
    font-weight: normal;
}

.number_rooms {
    width: 100px;
    display: flex;
    height: inherit;
    flex-direction: column;
    justify-content: center;
}

.rooms_icon {
    height: inherit;
    width: inherit;
    background: url("../images/icon_bed.png");
    background-repeat: no-repeat;
    margin-left: 35px;
}

.rooms_number h2 {
    font-size: 14px;
    color: #484848;
    font-weight: normal;
}

.number_bathrooms {
    width: 100px;
    display: flex;
    height: inherit;
    flex-direction: column;
    justify-content: center;
}

.bathrooms_icon {
    height: inherit;
    width: inherit;
    background: url("../images/icon_bath.png");
    background-repeat: no-repeat;
    margin-left: 35px;
}

.bathrooms_number h2 {
    font-size: 14px;
    color: #484848;
    font-weight: normal;
}

.user {
    font-size: 14px;
    color: #484848;
    text-align: left;
    margin-top: 15px;
}

.description {
    font-size: 14px;
    text-align: left;
    margin-top: 7px;
    margin-bottom: 0px;
}
.places .amenities {
    width: 100%;
    margin-top: 30px;
}
.amenities ul, .reviews ul {
	list-style-type: none;
	padding-left: 0px;
}
.amenities li {
	padding-bottom: 3px;
	text-indent: 30px;
}
.reviews li {
	padding-bottom: 3px;
}
.amenities h2, .reviews h2{
	font-size: 16px;
	border-bottom: 1px solid #dddddd;
	min-height: 0;
	width: 100%;
	text-align: left;
}
.pet {
	background: url('../images/icon_pets.png') no-repeat;
	background-origin: content-box;
	background-size: contain;
}
.tv {
	background: url('../images/icon_tv.png') no-repeat;
	background-origin: content-box;
	background-size: contain;
}
.wifi {
	background: url('../images/icon_wifi.png') no-repeat;
	background-origin: content-box;
	background-size: contain;
}
.reviews {
	margin-top: 40px;
	width: 100%;
	flex: 1;
}
.reviews h3 {
	font-size: 14px;
	text-align: left;
	padding-left: 0;
} 
.reviews p{
	font-size: 12px;
	margin-top: -10px;
}
